Q1. List any five functions of the pandas library with execution

* let us taking some Functions from the pandas library with examples ,

* creating The DataFrame

In [6]:
data = {"a" : [1,2,3],
       "b" : [4,5,6],
       "c" : [7,8,9]}

In [7]:
df = pd.DataFrame(data)

In [8]:
df # this is the example of Creating the DataFrame .

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

* Creating an DataFrame and our named index

In [9]:
data1 = {"a" : [22,33,44],
        "b" : [55,66,77] ,
        "c" : [88,99,100]}

In [10]:
df1 = pd.DataFrame(data1 , index=['a','b','c'])

In [42]:
df1

    a   b    c
a  22  55   88
b  33  66   99
c  44  77  100

* If we want list of any Row & Column

In [12]:
list(data['a'])

[1, 2, 3]

* if we want the sum of any Row

In [14]:
def test(x):
    return x.sum()
df1.apply(test)

a     99
b    198
c    287
dtype: int64

* if we want the sum of the any Column

In [15]:
def test(x):
    return x.sum()
df1.apply(test , axis=1)

a    165
b    198
c    221
dtype: int64

* if want the any specified Row & Column :

In [16]:
df2 = df1[['a' , 'b']]

In [17]:
df2

    a   b
a  22  55
b  33  66
c  44  77

* if we want the sum of the any Row & Column

In [18]:
df2.applymap(lambda x : x**2)

      a     b
a   484  3025
b  1089  4356
c  1936  5929

* if we want the sort The value

In [22]:
df2.sort_values('b' , axis=1)

    a   b
a  22  55
b  33  66
c  44  77

* if we want The mean

In [26]:
df2['a'].mean()

33.0

* if we want to find the median :

In [27]:
df2['b'].median()

66.0

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [28]:
data3 = {'Name' : ['shubham_shah' , 'ss' ,'sshubham_shah'],
        'Age' : [19,18,17],
        'Email-id' : ['shubhamshah8099@gmail.com' , 'xyz@gmail.com' , 'abc@gmail.com']}

In [32]:
df3 = pd.DataFrame(data3 , index=['A','B','C'])

In [34]:
df3

            Name  Age                   Email-id
A   shubham_shah   19  shubhamshah8099@gmail.com
B             ss   18              xyz@gmail.com
C  sshubham_shah   17              abc@gmail.com

In [45]:
# Let us we Re-index :-
df3 = pd.DataFrame(data3 , index=[1,3,5])

In [46]:
df3

            Name  Age                   Email-id
1   shubham_shah   19  shubhamshah8099@gmail.com
3             ss   18              xyz@gmail.com
5  sshubham_shah   17              abc@gmail.com

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [53]:
def calculate_the_sum_of_first_three_value(df):
    values_column = df['Values']
    sum_of_first_three_values = values_column.head(3).sum()
    print("Sum of the first three values:" , sum_of_first_three_values)

In [54]:
data = {"Values" : [10,20,30,40,50]}
df = pd.DataFrame(data)

In [57]:
calculate_the_sum_of_first_three_value(df) # Calling the functions :

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [61]:
def add_word_count_column(df):
    df['Word_Count'] = df['text'].apply(lambda x: len(str(x).split()))

In [62]:
data = {'text' :["my name is shubham_shah" , "my email is shubhamshah8099" , "my World is SS"]}
df = pd.DataFrame(data)

In [63]:
add_word_count_column(df)

In [64]:
print(df)

                          text  Word_Count
0      my name is shubham_shah           4
1  my email is shubhamshah8099           4
2               my World is SS           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

let us taking the first DataFrame.size()

* Type = Attribute
* Return = total number of the element present in the DataFrame 
* Usage: df.size('where df i dataframe')

let us taking an example of the Dataframe.size()

In [65]:
data = {'A' : [1,2,3,4] , 'B' : [5,6,7,8]}
df = pd.DataFrame(data)

In [67]:
size_of_the_dataframe = df.size

In [68]:
print(size_of_the_dataframe)

8

now let us taking the DataFrame.shape()
* Type = Attribute
* Return = A tuple which is the Representing the dimension of the DataFrame 
* Usage = df.shape('where df is the DataFrame')

let us taking the example of the DataFrame.shape()

In [69]:
data = {"A" : [22,33,44,55] , "B" : [66,77,88,99]}
df = pd.DataFrame(data)

In [71]:
shape_of_the_dataframe = df.shape

In [72]:
print(shape_of_the_dataframe)

(4, 2)

Q6. Which function of pandas do we use to read an excel file?

ANSWER => TO READ THE EXCEL FILE FIRST WE HAVE TO INSTALL LXML LIBRARY TO READ EXCEL FILE AND
          THEN APPLY THE FUNCTION :- pd.read_excel(file_name_here.xlsx)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [84]:
def extract_username(df):
    df['New_Username'] = df['Email'].str.split('@').str.get(0)
data = {'Email' :['shubhamshah8099@gmail.com' , 'sitashubham2005@gmail.com' , 'ss2006@gmail.com']}    
df = pd.DataFrame(data)   
extract_username(df)
print(df)

                       Email     New_Username
0  shubhamshah8099@gmail.com  shubhamshah8099
1  sitashubham2005@gmail.com  sitashubham2005
2           ss2006@gmail.com           ss2006

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

Your function should select the following rows
:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [101]:
import pandas as pd

def select_rows(df):
    
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]  # A is greater than 5 & B is less than 10 
    
    return selected_rows

data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

selected_df = select_rows(df)


print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [110]:
def calculate_statistics(df):
    
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    print("Mean",mean_value)
    print("Median:" , median_value)
    print("Standard_deviation:" , std_deviation)

data = {'Values' :[10,20,30,40,50,60]}
df = pd.DataFrame(data)
calculate_statistics(df)

Mean 35.0
Median: 35.0
Standard_deviation: 18.708286933869708

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [20]:
import pandas as pd

def add_moving_average(df):
    # Convert the 'Date' column to datetime type
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort the DataFrame by date
    df = df.sort_values(by='Date')

    # Set the 'Date' column as the index
    df.set_index('Date', inplace=True)

    # Calculate the moving average with a window size of 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    # Reset the index
    df.reset_index(inplace=True)

    return df

# Example usage:
# Assuming df is your DataFrame with 'Sales' and 'Date' columns
    df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
                    'Sales': [10, 15, 20, 25, 30]})

# Add the 'MovingAverage' column
    df = add_moving_average(df)

# Print the updated DataFrame
    print(df)

In [21]:
print(df)

        Date  Sales
0 2006-05-05     10
1 2006-05-06     20
2 2006-05-07     30
3 2006-05-07     40

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [3]:
def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date']) # change Date column into datatime format
    
    df['Weekday'] = df['Date'].dt.strftime('%A') # Add new weekday column contain weekdays
    
    return df
    
data = {'Date' :['2023-01-01' ,'2023-01-02' , '2023-01-03' ,'2023-01-04' , '2023-01-05']}  
df = pd.DataFrame(data)
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [4]:
def filter_date_range(df):
    df['Date'] = pd.to_datetime(df['Date']) # change Date column into datetime format
    
    # Define the Range
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # use boolean indexing to filter rows within the date Range 
    filtered_df = df[(df['Date']>= start_date) & (df['Date']<= end_date)]
    
    return filtered_df
data = {'Date' : ['2023-01-01' , '2023-01-15' , '2023-01-20' , '2023-02-01']}
df = pd.DataFrame(data)
filtered_df = filter_date_range(df)
print(filtered_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported ?

ANSWER => TO USE THE BASIC FUNCTIONS OF PANDAS FIRSTLY WE HAVE TO IMPORT PANDAS AND THEN WE 
        CAN USE THE ALL PANDAS LIBRARAY .
        
  # import pandas as pd